# special directories that we don't want to track
ForGeorge/ # files that are for George Spirou
MorphologyData/  # misc morphology data not necessarily related to the project
vcn_venv/ # virtual environment
vcn_venv
src/vcnmodel/archived
src/vcnmodel/util/testmpl.py
toml/archived
scripts/Archived
VS_data.py
blenderneuron/
src/vcnmodel/VS_data_mar2021.py
src/vcnmodel/VS_datasets_Nov2020.py
src/vcnmodel/model_data/Old_data_tables/
src/vcnmodel/analyzers/tests/test_cross_correlation.py
src/vcnmodel/analyzers/sttc_cython.c

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
VS_data*

# temporary ipy/jupyter notebooks
Untitled*.ipynb

# different temporary visualization files
*.obj
*.mtl

.DS_Store
.vscode
.pytest_cache/
.github
vcnmodel_venv/

arm64/
x86_64/
build/
docs/html/
docs/_build/
docs/_static/
# C extensions
*.so
*.o

# simulation outputs
*.p
*.pkl
*.dat

# pdfs, pngs, bak, ppt, pptx
*.pdf
*.png
*.bak
*.ppt

*.pptx
*.svg
*.ai
*.tif

# also ignore pickled file datasets
*.p
# and output data files
*.dat

# linked directories
acq4
gif
cnmodel

# synaptic configure .xls or ods files
VCN_Cells/VCN_ASAs*.xls
VCN_Cells/*.ods

# specific old files
convert_thorns.py
haircell.py
print_gmaps.py
svgViewer.py
svgviewer_rc.py
temp.hoc
test.hoc
test_pycca.py
XuF.py
RIFunc.py
DKRmodel.py
endbulb1.py
VCN_Cells/*
MorphologyFiles/*
Old/
*.ods
*.xls
*.xlsx
*.zip
*.csv



# hoc files from neuron (directory's worth)
NeuronHocFiles

# Compiled neuron files
x86_64/

# current mechanisms
mechanisms
# old mechanisms
mechanisms_old/
ANFiles/
MorphologyFiles/ # top level

# links to other packages
cnmodel
neuronvis

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
