# vcnmodel requirements
# 7 May 2020
# P. Manis

# development utilities
black==19.10b0
flake8
bokeh==2.3.3
Pint==0.14
isort==5.0.2
mypy==0.961
jupyterlab
psutil
pypdf2
pytest==4.5.0
pyperclip
rich>=12.0

# cnmodel (and vcnmodel) requirements
Cython==0.29.17
dill==0.3.1.1
envisage==4.7.2

imreg_dft

lmfit==1.0.3
#llvmlite==0.32.1  # required for numba version to avoid "TypeError: create_target_machine() got an unexpected keyword 

matplotlib==3.5.2
matplotlib-scalebar==0.8.1
mplcursors==0.5.1


neuron==8.1
# elephant==0.11
-e git+http://github.com/NeuralEnsemble/elephant.git@0df45812b93229b3186c061cb84ec29fd380e09c#egg=elephant

nose==1.3.7
numba==0.55.2
numpy==1.21
pandas>=1.4
plotnine>=0.7.1
psutil==5.6.7

pycca==0.2.0
-e git+https://github.com/circstat/pycircstat.git@dae8ecad8d594c402ea72fcc03dc3dd9172a66cf#egg=pycircstat

PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pynwb
pyparsing==2.4.0
pyqt6==6.3.0
pyqt6-sip==13.3.1
pyqtgraph
pytest==4.5.0

openpyxl

resampy==0.2.1
scipy>=1.6
scikit-learn==1.1.1
seaborn>=0.11.0
Shapely==1.8.2
six==1.12.0
sklearn==
tifffile
toml>=0.10.0

xlrd>=1.0.0
imreg_dft>=2.0
descartes
#mahotas


# the rest are handled directly in the calling shell script.
